body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #e3e3e3;
	font-family: 'Italianno', cursive;

	.container {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: 1fr 4fr repeat(3, 2fr) repeat(3, 2fr) 1fr;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'header header header'
			'title title title'
			'section1_image . .'
			'section1_image section1_text .'
			'section1_image . .'
			'. . section2_image'
			'section2_text . section2_image'
			'. . section2_image'
			'footer footer footer';

		header {
			grid-area: header;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 3rem;
			padding: 0 2rem;
		}

		.heading {
			grid-area: title;
			font-size: 3rem;
			display: flex;
			place-self: center;
		}

		> .section1-background {
			grid-row: 4/7;
			grid-column: 1/-1;
			background-color: #dcdcdc;
		}
		> .section1-image {
			grid-area: section1_image;
			height: 320px;
			width: 700px;
			z-index: 2;
		}
		> .section1-text {
			grid-area: section1_text;
			z-index: 2;
		}

		> .section2-background {
			grid-row: 7/9;
			grid-column: 1/-1;
			background-color: #d6d6d6;
		}
		> .section2-image {
			grid-area: section2_image;
			height: 320px;
			width: 700px;
		}
		> .section2-text {
			grid-area: section2_text;
			padding-left: 2rem;
		}
		footer {
			grid-area: footer;
			background-color: #4a4a4a;
			color: #dbdbdb;
			font-size: 2rem;
		}
	}

	.title {
		font-size: 2.5rem;
	}
	.content {
		font-size: 1.8rem;
	}
}
